body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1191px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u5849_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1065px;
  height:787px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5849 {
  position:absolute;
  left:135px;
  top:53px;
  width:1065px;
  height:787px;
}
#u5850 {
  position:absolute;
  left:2px;
  top:386px;
  width:1061px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5851_img {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:850px;
}
#u5851 {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:850px;
}
#u5852 {
  position:absolute;
  left:2px;
  top:417px;
  width:131px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5853_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1065px;
  height:52px;
}
#u5853 {
  position:absolute;
  left:135px;
  top:1px;
  width:1065px;
  height:52px;
}
#u5854 {
  position:absolute;
  left:2px;
  top:18px;
  width:1061px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5855_img {
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:793px;
}
#u5855 {
  position:absolute;
  left:1184px;
  top:53px;
  width:16px;
  height:793px;
}
#u5856 {
  position:absolute;
  left:2px;
  top:388px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5857_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1055px;
  height:15px;
}
#u5857 {
  position:absolute;
  left:135px;
  top:835px;
  width:1055px;
  height:15px;
}
#u5858 {
  position:absolute;
  left:2px;
  top:0px;
  width:1051px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5859_div {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:24px;
  background:inherit;
  background-color:rgba(242, 243, 247, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5859 {
  position:absolute;
  left:210px;
  top:19px;
  width:36px;
  height:24px;
}
#u5860 {
  position:absolute;
  left:2px;
  top:4px;
  width:32px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5861_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#9494A1;
}
#u5861 {
  position:absolute;
  left:215px;
  top:20px;
  width:25px;
  height:17px;
  font-size:12px;
  color:#9494A1;
}
#u5862 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u5863_div {
  position:absolute;
  left:0px;
  top:0px;
  width:36px;
  height:24px;
  background:inherit;
  background-color:rgba(242, 243, 247, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5863 {
  position:absolute;
  left:974px;
  top:17px;
  width:36px;
  height:24px;
}
#u5864 {
  position:absolute;
  left:2px;
  top:4px;
  width:32px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5865_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#7AA3F4;
}
#u5865 {
  position:absolute;
  left:974px;
  top:21px;
  width:25px;
  height:17px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#7AA3F4;
}
#u5866 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u5867_div {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#9494A1;
}
#u5867 {
  position:absolute;
  left:1030px;
  top:20px;
  width:25px;
  height:17px;
  font-size:12px;
  color:#9494A1;
}
#u5868 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u5869_div {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:711px;
  background:inherit;
  background-color:rgba(41, 44, 59, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5869 {
  position:absolute;
  left:-9px;
  top:59px;
  width:144px;
  height:711px;
}
#u5870 {
  position:absolute;
  left:2px;
  top:348px;
  width:140px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5871_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u5871 {
  position:absolute;
  left:147px;
  top:68px;
  width:85px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u5872 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u5873_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1038px;
  height:2px;
}
#u5873 {
  position:absolute;
  left:147px;
  top:98px;
  width:1037px;
  height:1px;
}
#u5874 {
  position:absolute;
  left:2px;
  top:-8px;
  width:1033px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5875_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:20px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u5875 {
  position:absolute;
  left:248px;
  top:68px;
  width:57px;
  height:20px;
  color:#FFFFFF;
}
#u5876 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u5877_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(105, 163, 253, 1);
  border:none;
  border-radius:2px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u5877 {
  position:absolute;
  left:324px;
  top:68px;
  width:29px;
  height:20px;
  color:#FFFFFF;
}
#u5878 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u5879 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5880_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1037px;
  height:41px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5880 {
  position:absolute;
  left:147px;
  top:109px;
  width:1037px;
  height:41px;
}
#u5881 {
  position:absolute;
  left:2px;
  top:12px;
  width:1033px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5882_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5882 {
  position:absolute;
  left:160px;
  top:119px;
  width:71px;
  height:20px;
}
#u5883 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u5884_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0000;
}
#u5884 {
  position:absolute;
  left:160px;
  top:163px;
  width:43px;
  height:20px;
  color:#FF0000;
}
#u5885 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u5886 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5887_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1037px;
  height:41px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5887 {
  position:absolute;
  left:147px;
  top:466px;
  width:1037px;
  height:41px;
}
#u5888 {
  position:absolute;
  left:2px;
  top:12px;
  width:1033px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5889_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5889 {
  position:absolute;
  left:160px;
  top:476px;
  width:85px;
  height:20px;
}
#u5890 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u5891_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5891 {
  position:absolute;
  left:160px;
  top:530px;
  width:99px;
  height:20px;
}
#u5892 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u5893_div {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5893 {
  position:absolute;
  left:397px;
  top:530px;
  width:159px;
  height:20px;
}
#u5894 {
  position:absolute;
  left:0px;
  top:0px;
  width:159px;
  white-space:nowrap;
}
#u5895 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5896_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1037px;
  height:41px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5896 {
  position:absolute;
  left:145px;
  top:332px;
  width:1037px;
  height:41px;
}
#u5897 {
  position:absolute;
  left:2px;
  top:12px;
  width:1033px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5898_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5898 {
  position:absolute;
  left:158px;
  top:342px;
  width:71px;
  height:20px;
}
#u5899 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u5900_div {
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5900 {
  position:absolute;
  left:158px;
  top:390px;
  width:195px;
  height:20px;
}
#u5901 {
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  white-space:nowrap;
}
#u5902_div {
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5902 {
  position:absolute;
  left:158px;
  top:430px;
  width:281px;
  height:20px;
}
#u5903 {
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  white-space:nowrap;
}
#u5904 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5905_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1037px;
  height:41px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5905 {
  position:absolute;
  left:145px;
  top:199px;
  width:1037px;
  height:41px;
}
#u5906 {
  position:absolute;
  left:2px;
  top:12px;
  width:1033px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5907_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5907 {
  position:absolute;
  left:158px;
  top:209px;
  width:71px;
  height:20px;
}
#u5908 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u5909_div {
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5909 {
  position:absolute;
  left:158px;
  top:257px;
  width:195px;
  height:20px;
}
#u5910 {
  position:absolute;
  left:0px;
  top:0px;
  width:195px;
  white-space:nowrap;
}
#u5911_div {
  position:absolute;
  left:0px;
  top:0px;
  width:421px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5911 {
  position:absolute;
  left:158px;
  top:297px;
  width:421px;
  height:20px;
}
#u5912 {
  position:absolute;
  left:0px;
  top:0px;
  width:421px;
  white-space:nowrap;
}
#u5913_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:27px;
}
#u5913 {
  position:absolute;
  left:1093px;
  top:59px;
  width:27px;
  height:27px;
}
#u5914 {
  position:absolute;
  left:2px;
  top:6px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5915 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5916_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1037px;
  height:41px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5916 {
  position:absolute;
  left:145px;
  top:573px;
  width:1037px;
  height:41px;
}
#u5917 {
  position:absolute;
  left:2px;
  top:12px;
  width:1033px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5918_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5918 {
  position:absolute;
  left:158px;
  top:583px;
  width:71px;
  height:20px;
}
#u5919 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u5920_div {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5920 {
  position:absolute;
  left:158px;
  top:637px;
  width:127px;
  height:20px;
}
#u5921 {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  white-space:nowrap;
}
#u5922_div {
  position:absolute;
  left:0px;
  top:0px;
  width:214px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5922 {
  position:absolute;
  left:355px;
  top:637px;
  width:214px;
  height:20px;
}
#u5923 {
  position:absolute;
  left:0px;
  top:0px;
  width:214px;
  white-space:nowrap;
}
#u5924_div {
  position:absolute;
  left:0px;
  top:0px;
  width:760px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5924 {
  position:absolute;
  left:158px;
  top:677px;
  width:760px;
  height:20px;
}
#u5925 {
  position:absolute;
  left:0px;
  top:0px;
  width:760px;
  word-wrap:break-word;
}
#u5926_div {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5926 {
  position:absolute;
  left:158px;
  top:714px;
  width:43px;
  height:20px;
}
#u5927 {
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u5928 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5929_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:76px;
}
#u5929 {
  position:absolute;
  left:201px;
  top:714px;
  width:79px;
  height:76px;
}
#u5930 {
  position:absolute;
  left:2px;
  top:30px;
  width:75px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5931_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#0000FF;
}
#u5931 {
  position:absolute;
  left:207px;
  top:799px;
  width:29px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#0000FF;
}
#u5932 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u5933_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#0000FF;
}
#u5933 {
  position:absolute;
  left:246px;
  top:799px;
  width:29px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#0000FF;
}
#u5934 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u5935 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5936_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:76px;
}
#u5936 {
  position:absolute;
  left:288px;
  top:714px;
  width:79px;
  height:76px;
}
#u5937 {
  position:absolute;
  left:2px;
  top:30px;
  width:75px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5938_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#0000FF;
}
#u5938 {
  position:absolute;
  left:294px;
  top:799px;
  width:29px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#0000FF;
}
#u5939 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u5940_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#0000FF;
}
#u5940 {
  position:absolute;
  left:333px;
  top:799px;
  width:29px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#0000FF;
}
#u5941 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u5942 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5943_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:76px;
}
#u5943 {
  position:absolute;
  left:375px;
  top:714px;
  width:79px;
  height:76px;
}
#u5944 {
  position:absolute;
  left:2px;
  top:30px;
  width:75px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5945_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#0000FF;
}
#u5945 {
  position:absolute;
  left:381px;
  top:799px;
  width:29px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#0000FF;
}
#u5946 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u5947_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#0000FF;
}
#u5947 {
  position:absolute;
  left:420px;
  top:799px;
  width:29px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#0000FF;
}
#u5948 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u5949 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5950_img {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:77px;
}
#u5950 {
  position:absolute;
  left:462px;
  top:714px;
  width:79px;
  height:77px;
}
#u5951 {
  position:absolute;
  left:2px;
  top:30px;
  width:75px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5952_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#0000FF;
}
#u5952 {
  position:absolute;
  left:468px;
  top:800px;
  width:29px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#0000FF;
}
#u5953 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u5954_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#0000FF;
}
#u5954 {
  position:absolute;
  left:507px;
  top:800px;
  width:29px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#0000FF;
}
#u5955 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u5956 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5957_div {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:31px;
  background:inherit;
  background-color:rgba(49, 60, 79, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5957 {
  position:absolute;
  left:0px;
  top:190px;
  width:135px;
  height:31px;
}
#u5958 {
  position:absolute;
  left:2px;
  top:8px;
  width:131px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5959_div {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#6E7589;
}
#u5959 {
  position:absolute;
  left:28px;
  top:231px;
  width:79px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#6E7589;
}
#u5960 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u5961_div {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#6E7589;
}
#u5961 {
  position:absolute;
  left:28px;
  top:130px;
  width:79px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#6E7589;
}
#u5962 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u5963_div {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#6E7589;
}
#u5963 {
  position:absolute;
  left:28px;
  top:98px;
  width:79px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#6E7589;
}
#u5964 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u5965 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5966_div {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#6E7589;
  text-align:center;
}
#u5966 {
  position:absolute;
  left:28px;
  top:66px;
  width:79px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#6E7589;
  text-align:center;
}
#u5967 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u5968_div {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#6E7589;
}
#u5968 {
  position:absolute;
  left:28px;
  top:162px;
  width:79px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#6E7589;
}
#u5969 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
#u5970_div {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#6E7589;
}
#u5970 {
  position:absolute;
  left:28px;
  top:197px;
  width:79px;
  height:18px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  color:#6E7589;
}
#u5971 {
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  white-space:nowrap;
}
