body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-22px;
  width:320px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1939_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:595px;
  background:inherit;
  background-color:rgba(248, 248, 248, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1939 {
  position:absolute;
  left:22px;
  top:8px;
  width:320px;
  height:595px;
}
#u1940 {
  position:absolute;
  left:2px;
  top:290px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1941_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:27px;
}
#u1941 {
  position:absolute;
  left:305px;
  top:26px;
  width:27px;
  height:27px;
}
#u1942 {
  position:absolute;
  left:2px;
  top:6px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1943 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1944_img {
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:52px;
}
#u1944 {
  position:absolute;
  left:23px;
  top:17px;
  width:318px;
  height:52px;
}
#u1945 {
  position:absolute;
  left:2px;
  top:18px;
  width:314px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1946 {
  position:absolute;
  left:262px;
  top:35px;
  width:36px;
  height:27px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1947_img {
  position:absolute;
  left:0px;
  top:0px;
  width:319px;
  height:2px;
}
#u1947 {
  position:absolute;
  left:23px;
  top:69px;
  width:318px;
  height:1px;
}
#u1948 {
  position:absolute;
  left:2px;
  top:-8px;
  width:314px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1949_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
#u1949 {
  position:absolute;
  left:32px;
  top:36px;
  width:26px;
  height:26px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u1950 {
  position:absolute;
  left:2px;
  top:5px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1951_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:14px;
  color:#000000;
}
#u1951 {
  position:absolute;
  left:126px;
  top:39px;
  width:113px;
  height:20px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:14px;
  color:#000000;
}
#u1952 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u1953_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:101px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1953 {
  position:absolute;
  left:32px;
  top:79px;
  width:300px;
  height:101px;
}
#u1954 {
  position:absolute;
  left:2px;
  top:42px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1955_div {
  position:absolute;
  left:0px;
  top:0px;
  width:269px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:11px;
}
#u1955 {
  position:absolute;
  left:48px;
  top:116px;
  width:269px;
  height:16px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:11px;
}
#u1956 {
  position:absolute;
  left:0px;
  top:0px;
  width:269px;
  word-wrap:break-word;
}
#u1957_div {
  position:absolute;
  left:0px;
  top:0px;
  width:269px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:11px;
}
#u1957 {
  position:absolute;
  left:48px;
  top:140px;
  width:269px;
  height:32px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:11px;
}
#u1958 {
  position:absolute;
  left:0px;
  top:0px;
  width:269px;
  word-wrap:break-word;
}
#u1959_div {
  position:absolute;
  left:0px;
  top:0px;
  width:269px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:11px;
}
#u1959 {
  position:absolute;
  left:43px;
  top:87px;
  width:269px;
  height:16px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:11px;
}
#u1960 {
  position:absolute;
  left:0px;
  top:0px;
  width:269px;
  word-wrap:break-word;
}
#u1961_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u1961 {
  position:absolute;
  left:32px;
  top:79px;
  width:300px;
  height:31px;
  text-align:left;
}
#u1962 {
  position:absolute;
  left:2px;
  top:2px;
  width:296px;
  word-wrap:break-word;
}
#u1963_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:310px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1963 {
  position:absolute;
  left:33px;
  top:210px;
  width:300px;
  height:310px;
}
#u1964 {
  position:absolute;
  left:2px;
  top:147px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1965_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u1965 {
  position:absolute;
  left:33px;
  top:190px;
  width:300px;
  height:31px;
  text-align:left;
}
#u1966 {
  position:absolute;
  left:2px;
  top:2px;
  width:296px;
  word-wrap:break-word;
}
#u1967_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:31px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u1967 {
  position:absolute;
  left:33px;
  top:425px;
  width:300px;
  height:31px;
  text-align:left;
}
#u1968 {
  position:absolute;
  left:2px;
  top:2px;
  width:296px;
  word-wrap:break-word;
}
#u1969_div {
  position:absolute;
  left:0px;
  top:0px;
  width:269px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:11px;
}
#u1969 {
  position:absolute;
  left:48px;
  top:466px;
  width:269px;
  height:16px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:11px;
}
#u1970 {
  position:absolute;
  left:0px;
  top:0px;
  width:269px;
  word-wrap:break-word;
}
#u1971_div {
  position:absolute;
  left:0px;
  top:0px;
  width:269px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:11px;
}
#u1971 {
  position:absolute;
  left:48px;
  top:492px;
  width:269px;
  height:16px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:11px;
}
#u1972 {
  position:absolute;
  left:0px;
  top:0px;
  width:269px;
  word-wrap:break-word;
}
#u1973_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:59px;
}
#u1973 {
  position:absolute;
  left:273px;
  top:79px;
  width:59px;
  height:59px;
}
#u1974 {
  position:absolute;
  left:2px;
  top:22px;
  width:55px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1975 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1976_div {
  position:absolute;
  left:0px;
  top:0px;
  width:269px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:11px;
}
#u1976 {
  position:absolute;
  left:48px;
  top:231px;
  width:269px;
  height:16px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:11px;
}
#u1977 {
  position:absolute;
  left:0px;
  top:0px;
  width:269px;
  word-wrap:break-word;
}
#u1978_div {
  position:absolute;
  left:0px;
  top:0px;
  width:269px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:11px;
}
#u1978 {
  position:absolute;
  left:48px;
  top:257px;
  width:269px;
  height:16px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:11px;
}
#u1979 {
  position:absolute;
  left:0px;
  top:0px;
  width:269px;
  word-wrap:break-word;
}
#u1980_div {
  position:absolute;
  left:0px;
  top:0px;
  width:269px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:11px;
}
#u1980 {
  position:absolute;
  left:48px;
  top:283px;
  width:269px;
  height:16px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:11px;
}
#u1981 {
  position:absolute;
  left:0px;
  top:0px;
  width:269px;
  word-wrap:break-word;
}
#u1982_div {
  position:absolute;
  left:0px;
  top:0px;
  width:269px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:11px;
}
#u1982 {
  position:absolute;
  left:48px;
  top:309px;
  width:269px;
  height:16px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:11px;
}
#u1983 {
  position:absolute;
  left:0px;
  top:0px;
  width:269px;
  word-wrap:break-word;
}
#u1984_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:48px;
}
#u1984 {
  position:absolute;
  left:48px;
  top:335px;
  width:47px;
  height:48px;
}
#u1985 {
  position:absolute;
  left:2px;
  top:16px;
  width:43px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1986_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:48px;
}
#u1986 {
  position:absolute;
  left:104px;
  top:335px;
  width:47px;
  height:48px;
}
#u1987 {
  position:absolute;
  left:2px;
  top:16px;
  width:43px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1988_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:48px;
}
#u1988 {
  position:absolute;
  left:159px;
  top:335px;
  width:47px;
  height:48px;
}
#u1989 {
  position:absolute;
  left:2px;
  top:16px;
  width:43px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1990_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:48px;
}
#u1990 {
  position:absolute;
  left:215px;
  top:335px;
  width:47px;
  height:48px;
}
#u1991 {
  position:absolute;
  left:2px;
  top:16px;
  width:43px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1992_img {
  position:absolute;
  left:0px;
  top:0px;
  width:47px;
  height:48px;
}
#u1992 {
  position:absolute;
  left:270px;
  top:335px;
  width:47px;
  height:48px;
}
#u1993 {
  position:absolute;
  left:2px;
  top:16px;
  width:43px;
  visibility:hidden;
  word-wrap:break-word;
}
