body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-100px;
  width:1282px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2318_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1279px;
  height:1854px;
  background:inherit;
  background-color:rgba(243, 244, 246, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2318 {
  position:absolute;
  left:100px;
  top:0px;
  width:1279px;
  height:1854px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2319 {
  position:absolute;
  left:2px;
  top:919px;
  width:1275px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2320_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1278px;
  height:31px;
}
#u2320 {
  position:absolute;
  left:101px;
  top:0px;
  width:1278px;
  height:31px;
}
#u2321 {
  position:absolute;
  left:2px;
  top:8px;
  width:1274px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2322_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1278px;
  height:92px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2322 {
  position:absolute;
  left:101px;
  top:31px;
  width:1278px;
  height:92px;
}
#u2323 {
  position:absolute;
  left:2px;
  top:38px;
  width:1274px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2324_img {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:83px;
}
#u2324 {
  position:absolute;
  left:233px;
  top:38px;
  width:173px;
  height:83px;
}
#u2325 {
  position:absolute;
  left:2px;
  top:34px;
  width:169px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2326_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1022px;
  height:404px;
}
#u2326 {
  position:absolute;
  left:230px;
  top:123px;
  width:1022px;
  height:404px;
}
#u2327 {
  position:absolute;
  left:2px;
  top:194px;
  width:1018px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2328_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1023px;
  height:251px;
}
#u2328 {
  position:absolute;
  left:231px;
  top:801px;
  width:1022px;
  height:250px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#000000;
}
#u2329 {
  position:absolute;
  left:2px;
  top:105px;
  width:1018px;
  word-wrap:break-word;
}
#u2330 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2331_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1022px;
  height:440px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2331 {
  position:absolute;
  left:232px;
  top:1320px;
  width:1022px;
  height:440px;
}
#u2332 {
  position:absolute;
  left:2px;
  top:212px;
  width:1018px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2333 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2334_div {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u2334 {
  position:absolute;
  left:671px;
  top:1340px;
  width:145px;
  height:33px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u2335 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u2336 {
  position:absolute;
  left:302px;
  top:1425px;
  width:410px;
  height:45px;
}
#u2336_input {
  position:absolute;
  left:0px;
  top:0px;
  width:410px;
  height:45px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u2337 {
  position:absolute;
  left:774px;
  top:1425px;
  width:408px;
  height:45px;
}
#u2337_input {
  position:absolute;
  left:0px;
  top:0px;
  width:408px;
  height:45px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u2338 {
  position:absolute;
  left:302px;
  top:1480px;
  width:880px;
  height:140px;
}
#u2338_input {
  position:absolute;
  left:0px;
  top:0px;
  width:880px;
  height:140px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u2339_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 0, 0, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2339 {
  position:absolute;
  left:673px;
  top:1680px;
  width:140px;
  height:40px;
}
#u2340 {
  position:absolute;
  left:2px;
  top:11px;
  width:136px;
  word-wrap:break-word;
}
#u2341 {
  position:absolute;
  left:104px;
  top:1320px;
  width:1277px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2342_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1023px;
  height:251px;
}
#u2342 {
  position:absolute;
  left:231px;
  top:1061px;
  width:1022px;
  height:250px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#000000;
}
#u2343 {
  position:absolute;
  left:2px;
  top:105px;
  width:1018px;
  word-wrap:break-word;
}
#u2344 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2345_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1281px;
  height:348px;
}
#u2345 {
  position:absolute;
  left:101px;
  top:1770px;
  width:1281px;
  height:348px;
}
#u2346 {
  position:absolute;
  left:2px;
  top:166px;
  width:1277px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2347 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2348_img {
  position:absolute;
  left:0px;
  top:0px;
  width:77px;
  height:230px;
}
#u2348 {
  position:absolute;
  left:1305px;
  top:1771px;
  width:77px;
  height:230px;
}
#u2349 {
  position:absolute;
  left:2px;
  top:107px;
  width:73px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2350_div {
  position:absolute;
  left:0px;
  top:0px;
  width:346px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#3AB0FA;
}
#u2350 {
  position:absolute;
  left:906px;
  top:63px;
  width:346px;
  height:28px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:20px;
  color:#3AB0FA;
}
#u2351 {
  position:absolute;
  left:0px;
  top:0px;
  width:346px;
  white-space:nowrap;
}
#u2352_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 0, 0, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2352 {
  position:absolute;
  left:671px;
  top:420px;
  width:140px;
  height:40px;
}
#u2353 {
  position:absolute;
  left:2px;
  top:11px;
  width:136px;
  word-wrap:break-word;
}
#u2354_div {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF0000;
}
#u2354 {
  position:absolute;
  left:271px;
  top:170px;
  width:145px;
  height:33px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FF0000;
}
#u2355 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u2356_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1023px;
  height:251px;
}
#u2356 {
  position:absolute;
  left:231px;
  top:537px;
  width:1022px;
  height:250px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#000000;
}
#u2357 {
  position:absolute;
  left:2px;
  top:105px;
  width:1018px;
  word-wrap:break-word;
}
