body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-22px;
  width:650px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1960_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:754px;
  background:inherit;
  background-color:rgba(248, 248, 248, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1960 {
  position:absolute;
  left:22px;
  top:16px;
  width:320px;
  height:754px;
}
#u1961 {
  position:absolute;
  left:2px;
  top:369px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1962_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:27px;
}
#u1962 {
  position:absolute;
  left:305px;
  top:26px;
  width:27px;
  height:27px;
}
#u1963 {
  position:absolute;
  left:2px;
  top:6px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1964_img {
  position:absolute;
  left:0px;
  top:0px;
  width:319px;
  height:2px;
}
#u1964 {
  position:absolute;
  left:23px;
  top:69px;
  width:318px;
  height:1px;
}
#u1965 {
  position:absolute;
  left:2px;
  top:-8px;
  width:314px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1966_div {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1966 {
  position:absolute;
  left:119px;
  top:376px;
  width:127px;
  height:20px;
}
#u1967 {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  white-space:nowrap;
}
#u1968_img {
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:93px;
}
#u1968 {
  position:absolute;
  left:136px;
  top:264px;
  width:93px;
  height:93px;
}
#u1969 {
  position:absolute;
  left:2px;
  top:38px;
  width:89px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1970_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:27px;
}
#u1970 {
  position:absolute;
  left:305px;
  top:26px;
  width:27px;
  height:27px;
}
#u1971 {
  position:absolute;
  left:2px;
  top:6px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1972 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1973_img {
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:52px;
}
#u1973 {
  position:absolute;
  left:23px;
  top:17px;
  width:318px;
  height:52px;
}
#u1974 {
  position:absolute;
  left:2px;
  top:18px;
  width:314px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1975 {
  position:absolute;
  left:262px;
  top:35px;
  width:36px;
  height:27px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1976_img {
  position:absolute;
  left:0px;
  top:0px;
  width:319px;
  height:2px;
}
#u1976 {
  position:absolute;
  left:23px;
  top:69px;
  width:318px;
  height:1px;
}
#u1977 {
  position:absolute;
  left:2px;
  top:-8px;
  width:314px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1978_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
#u1978 {
  position:absolute;
  left:32px;
  top:36px;
  width:26px;
  height:26px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u1979 {
  position:absolute;
  left:2px;
  top:5px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1980_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:14px;
  color:#000000;
}
#u1980 {
  position:absolute;
  left:138px;
  top:39px;
  width:85px;
  height:20px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:14px;
  color:#000000;
}
#u1981 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u1982_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:754px;
  background:inherit;
  background-color:rgba(248, 248, 248, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1982 {
  position:absolute;
  left:352px;
  top:17px;
  width:320px;
  height:754px;
}
#u1983 {
  position:absolute;
  left:2px;
  top:369px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1984_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:27px;
}
#u1984 {
  position:absolute;
  left:635px;
  top:27px;
  width:27px;
  height:27px;
}
#u1985 {
  position:absolute;
  left:2px;
  top:6px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1986_img {
  position:absolute;
  left:0px;
  top:0px;
  width:319px;
  height:2px;
}
#u1986 {
  position:absolute;
  left:353px;
  top:70px;
  width:318px;
  height:1px;
}
#u1987 {
  position:absolute;
  left:2px;
  top:-8px;
  width:314px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1988 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1989_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:127px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:9px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1989 {
  position:absolute;
  left:362px;
  top:81px;
  width:300px;
  height:127px;
}
#u1990 {
  position:absolute;
  left:2px;
  top:56px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1991_div {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
}
#u1991 {
  position:absolute;
  left:374px;
  top:92px;
  width:96px;
  height:16px;
  font-size:11px;
}
#u1992 {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  white-space:nowrap;
}
#u1993_div {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  text-align:right;
}
#u1993 {
  position:absolute;
  left:480px;
  top:92px;
  width:90px;
  height:16px;
  font-size:11px;
  text-align:right;
}
#u1994 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  white-space:nowrap;
}
#u1995_div {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#FF0000;
  text-align:right;
}
#u1995 {
  position:absolute;
  left:616px;
  top:92px;
  width:34px;
  height:16px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#FF0000;
  text-align:right;
}
#u1996 {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  white-space:nowrap;
}
#u1997_div {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
}
#u1997 {
  position:absolute;
  left:374px;
  top:118px;
  width:176px;
  height:16px;
  font-size:11px;
}
#u1998 {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  white-space:nowrap;
}
#u1999_div {
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
}
#u1999 {
  position:absolute;
  left:374px;
  top:144px;
  width:215px;
  height:16px;
  font-size:11px;
}
#u2000 {
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  white-space:nowrap;
}
#u2001_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2001 {
  position:absolute;
  left:362px;
  top:170px;
  width:300px;
  height:38px;
}
#u2002 {
  position:absolute;
  left:2px;
  top:11px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2003_div {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#FF0000;
  text-align:right;
}
#u2003 {
  position:absolute;
  left:374px;
  top:181px;
  width:134px;
  height:16px;
  font-size:11px;
  color:#FF0000;
  text-align:right;
}
#u2004 {
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  white-space:nowrap;
}
#u2005_div {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#000000;
  text-align:right;
}
#u2005 {
  position:absolute;
  left:598px;
  top:181px;
  width:52px;
  height:16px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#000000;
  text-align:right;
}
#u2006 {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  white-space:nowrap;
}
#u2007 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2008_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:133px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:9px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2008 {
  position:absolute;
  left:362px;
  top:218px;
  width:300px;
  height:133px;
}
#u2009 {
  position:absolute;
  left:2px;
  top:58px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2010_div {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
}
#u2010 {
  position:absolute;
  left:374px;
  top:229px;
  width:96px;
  height:16px;
  font-size:11px;
}
#u2011 {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  white-space:nowrap;
}
#u2012_div {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  text-align:right;
}
#u2012 {
  position:absolute;
  left:480px;
  top:229px;
  width:90px;
  height:16px;
  font-size:11px;
  text-align:right;
}
#u2013 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  white-space:nowrap;
}
#u2014_div {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#FF0000;
  text-align:right;
}
#u2014 {
  position:absolute;
  left:616px;
  top:229px;
  width:34px;
  height:16px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#FF0000;
  text-align:right;
}
#u2015 {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  white-space:nowrap;
}
#u2016_div {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
}
#u2016 {
  position:absolute;
  left:374px;
  top:255px;
  width:176px;
  height:16px;
  font-size:11px;
}
#u2017 {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  white-space:nowrap;
}
#u2018_div {
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
}
#u2018 {
  position:absolute;
  left:374px;
  top:281px;
  width:215px;
  height:16px;
  font-size:11px;
}
#u2019 {
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  white-space:nowrap;
}
#u2020_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:44px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2020 {
  position:absolute;
  left:362px;
  top:307px;
  width:300px;
  height:44px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2021 {
  position:absolute;
  left:2px;
  top:14px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2022_div {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:12px;
  color:#FF0000;
  text-align:right;
}
#u2022 {
  position:absolute;
  left:374px;
  top:321px;
  width:118px;
  height:17px;
  font-size:12px;
  color:#FF0000;
  text-align:right;
}
#u2023 {
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  white-space:nowrap;
}
#u2024_div {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#000000;
  text-align:right;
}
#u2024 {
  position:absolute;
  left:599px;
  top:322px;
  width:52px;
  height:16px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#000000;
  text-align:right;
}
#u2025 {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  white-space:nowrap;
}
#u2026 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2027_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:127px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:9px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2027 {
  position:absolute;
  left:362px;
  top:361px;
  width:300px;
  height:127px;
}
#u2028 {
  position:absolute;
  left:2px;
  top:56px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2029_div {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
}
#u2029 {
  position:absolute;
  left:374px;
  top:372px;
  width:96px;
  height:16px;
  font-size:11px;
}
#u2030 {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  white-space:nowrap;
}
#u2031_div {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  text-align:right;
}
#u2031 {
  position:absolute;
  left:480px;
  top:372px;
  width:90px;
  height:16px;
  font-size:11px;
  text-align:right;
}
#u2032 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  white-space:nowrap;
}
#u2033_div {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#FF0000;
  text-align:right;
}
#u2033 {
  position:absolute;
  left:616px;
  top:372px;
  width:34px;
  height:16px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#FF0000;
  text-align:right;
}
#u2034 {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  white-space:nowrap;
}
#u2035_div {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
}
#u2035 {
  position:absolute;
  left:374px;
  top:398px;
  width:176px;
  height:16px;
  font-size:11px;
}
#u2036 {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  white-space:nowrap;
}
#u2037_div {
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
}
#u2037 {
  position:absolute;
  left:374px;
  top:424px;
  width:215px;
  height:16px;
  font-size:11px;
}
#u2038 {
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  white-space:nowrap;
}
#u2039_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2039 {
  position:absolute;
  left:362px;
  top:450px;
  width:300px;
  height:38px;
}
#u2040 {
  position:absolute;
  left:2px;
  top:11px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2041_div {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#000000;
  text-align:right;
}
#u2041 {
  position:absolute;
  left:598px;
  top:461px;
  width:52px;
  height:16px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#000000;
  text-align:right;
}
#u2042 {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  white-space:nowrap;
}
#u2043 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2044_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:127px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:9px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2044 {
  position:absolute;
  left:362px;
  top:498px;
  width:300px;
  height:127px;
}
#u2045 {
  position:absolute;
  left:2px;
  top:56px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2046_div {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
}
#u2046 {
  position:absolute;
  left:374px;
  top:509px;
  width:96px;
  height:16px;
  font-size:11px;
}
#u2047 {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  white-space:nowrap;
}
#u2048_div {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  text-align:right;
}
#u2048 {
  position:absolute;
  left:480px;
  top:509px;
  width:90px;
  height:16px;
  font-size:11px;
  text-align:right;
}
#u2049 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  white-space:nowrap;
}
#u2050_div {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#FF0000;
  text-align:right;
}
#u2050 {
  position:absolute;
  left:616px;
  top:509px;
  width:34px;
  height:16px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#FF0000;
  text-align:right;
}
#u2051 {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  white-space:nowrap;
}
#u2052_div {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
}
#u2052 {
  position:absolute;
  left:374px;
  top:535px;
  width:176px;
  height:16px;
  font-size:11px;
}
#u2053 {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  white-space:nowrap;
}
#u2054_div {
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
}
#u2054 {
  position:absolute;
  left:374px;
  top:561px;
  width:215px;
  height:16px;
  font-size:11px;
}
#u2055 {
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  white-space:nowrap;
}
#u2056_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2056 {
  position:absolute;
  left:362px;
  top:587px;
  width:300px;
  height:38px;
}
#u2057 {
  position:absolute;
  left:2px;
  top:11px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2058_div {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#000000;
  text-align:right;
}
#u2058 {
  position:absolute;
  left:598px;
  top:598px;
  width:52px;
  height:16px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#000000;
  text-align:right;
}
#u2059 {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  white-space:nowrap;
}
#u2060 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2061_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:127px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:9px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2061 {
  position:absolute;
  left:362px;
  top:635px;
  width:300px;
  height:127px;
}
#u2062 {
  position:absolute;
  left:2px;
  top:56px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2063_div {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
}
#u2063 {
  position:absolute;
  left:374px;
  top:646px;
  width:96px;
  height:16px;
  font-size:11px;
}
#u2064 {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  white-space:nowrap;
}
#u2065_div {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  text-align:right;
}
#u2065 {
  position:absolute;
  left:480px;
  top:646px;
  width:90px;
  height:16px;
  font-size:11px;
  text-align:right;
}
#u2066 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  white-space:nowrap;
}
#u2067_div {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#666666;
  text-align:right;
}
#u2067 {
  position:absolute;
  left:616px;
  top:646px;
  width:34px;
  height:16px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#666666;
  text-align:right;
}
#u2068 {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  white-space:nowrap;
}
#u2069_div {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
}
#u2069 {
  position:absolute;
  left:374px;
  top:672px;
  width:176px;
  height:16px;
  font-size:11px;
}
#u2070 {
  position:absolute;
  left:0px;
  top:0px;
  width:176px;
  white-space:nowrap;
}
#u2071_div {
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
}
#u2071 {
  position:absolute;
  left:374px;
  top:698px;
  width:215px;
  height:16px;
  font-size:11px;
}
#u2072 {
  position:absolute;
  left:0px;
  top:0px;
  width:215px;
  white-space:nowrap;
}
#u2073_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2073 {
  position:absolute;
  left:362px;
  top:724px;
  width:300px;
  height:38px;
}
#u2074 {
  position:absolute;
  left:2px;
  top:11px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2075_div {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#000000;
  text-align:right;
}
#u2075 {
  position:absolute;
  left:598px;
  top:735px;
  width:52px;
  height:16px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#000000;
  text-align:right;
}
#u2076 {
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  white-space:nowrap;
}
#u2077_div {
  position:absolute;
  left:0px;
  top:0px;
  width:67px;
  height:25px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
}
#u2077 {
  position:absolute;
  left:522px;
  top:317px;
  width:67px;
  height:25px;
  font-size:11px;
}
#u2078 {
  position:absolute;
  left:2px;
  top:4px;
  width:63px;
  word-wrap:break-word;
}
#u2079_div {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#0000FF;
  text-align:right;
}
#u2079 {
  position:absolute;
  left:543px;
  top:598px;
  width:45px;
  height:16px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#0000FF;
  text-align:right;
}
#u2080 {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  white-space:nowrap;
}
#u2081_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:27px;
}
#u2081 {
  position:absolute;
  left:635px;
  top:27px;
  width:27px;
  height:27px;
}
#u2082 {
  position:absolute;
  left:2px;
  top:6px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2083 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2084_img {
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:52px;
}
#u2084 {
  position:absolute;
  left:353px;
  top:18px;
  width:318px;
  height:52px;
}
#u2085 {
  position:absolute;
  left:2px;
  top:18px;
  width:314px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2086 {
  position:absolute;
  left:592px;
  top:36px;
  width:36px;
  height:27px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2087_img {
  position:absolute;
  left:0px;
  top:0px;
  width:319px;
  height:2px;
}
#u2087 {
  position:absolute;
  left:353px;
  top:70px;
  width:318px;
  height:1px;
}
#u2088 {
  position:absolute;
  left:2px;
  top:-8px;
  width:314px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2089_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
#u2089 {
  position:absolute;
  left:362px;
  top:37px;
  width:26px;
  height:26px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u2090 {
  position:absolute;
  left:2px;
  top:5px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2091_div {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:14px;
  color:#000000;
}
#u2091 {
  position:absolute;
  left:468px;
  top:40px;
  width:85px;
  height:20px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:14px;
  color:#000000;
}
#u2092 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
