body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1279px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u495_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1279px;
  height:620px;
  background:inherit;
  background-color:rgba(240, 240, 245, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u495 {
  position:absolute;
  left:0px;
  top:100px;
  width:1279px;
  height:620px;
}
#u496 {
  position:absolute;
  left:2px;
  top:302px;
  width:1275px;
  visibility:hidden;
  word-wrap:break-word;
}
#u497_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1279px;
  height:100px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u497 {
  position:absolute;
  left:0px;
  top:0px;
  width:1279px;
  height:100px;
}
#u498 {
  position:absolute;
  left:2px;
  top:42px;
  width:1275px;
  visibility:hidden;
  word-wrap:break-word;
}
#u499_img {
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:78px;
}
#u499 {
  position:absolute;
  left:118px;
  top:12px;
  width:72px;
  height:78px;
}
#u500 {
  position:absolute;
  left:2px;
  top:31px;
  width:68px;
  visibility:hidden;
  word-wrap:break-word;
}
#u501_div {
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:36px;
}
#u501 {
  position:absolute;
  left:210px;
  top:26px;
  width:361px;
  height:50px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:36px;
}
#u502 {
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  white-space:nowrap;
}
#u503_div {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:28px;
}
#u503 {
  position:absolute;
  left:1140px;
  top:31px;
  width:113px;
  height:40px;
  font-size:28px;
}
#u504 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
#u505_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1082px;
  height:540px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u505 {
  position:absolute;
  left:118px;
  top:140px;
  width:1082px;
  height:540px;
}
#u506 {
  position:absolute;
  left:2px;
  top:262px;
  width:1078px;
  visibility:hidden;
  word-wrap:break-word;
}
#u507_img {
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:70px;
}
#u507 {
  position:absolute;
  left:510px;
  top:175px;
  width:61px;
  height:70px;
}
#u508 {
  position:absolute;
  left:2px;
  top:27px;
  width:57px;
  visibility:hidden;
  word-wrap:break-word;
}
#u509_div {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:24px;
}
#u509 {
  position:absolute;
  left:610px;
  top:194px;
  width:121px;
  height:20px;
  font-size:24px;
}
#u510 {
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  white-space:nowrap;
}
#u511_div {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:24px;
}
#u511 {
  position:absolute;
  left:572px;
  top:267px;
  width:97px;
  height:33px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:24px;
}
#u512 {
  position:absolute;
  left:0px;
  top:0px;
  width:97px;
  white-space:nowrap;
}
#u513 {
  position:absolute;
  left:470px;
  top:330px;
  width:300px;
  height:40px;
}
#u513_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:40px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u514 {
  position:absolute;
  left:470px;
  top:390px;
  width:300px;
  height:40px;
}
#u514_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:40px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u515_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#69A3FD;
}
#u515 {
  position:absolute;
  left:691px;
  top:400px;
  width:71px;
  height:20px;
  color:#69A3FD;
}
#u516 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u517 {
  position:absolute;
  left:470px;
  top:452px;
  width:261px;
  height:18px;
}
#u518 {
  position:absolute;
  left:16px;
  top:0px;
  width:243px;
  word-wrap:break-word;
}
#u517_input {
  position:absolute;
  left:-3px;
  top:-2px;
}
#u519_div {
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u519 {
  position:absolute;
  left:510px;
  top:530px;
  width:220px;
  height:40px;
}
#u520 {
  position:absolute;
  left:2px;
  top:11px;
  width:216px;
  word-wrap:break-word;
}
