body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-38px;
  width:1132px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2358_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1132px;
  height:1236px;
}
#u2358 {
  position:absolute;
  left:38px;
  top:60px;
  width:1132px;
  height:1236px;
}
#u2359 {
  position:absolute;
  left:2px;
  top:610px;
  width:1128px;
  visibility:hidden;
  word-wrap:break-word;
}
