body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-0px;
  width:310px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:673px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:310px;
  height:673px;
}
#u18 {
  position:absolute;
  left:2px;
  top:328px;
  width:306px;
  visibility:hidden;
  word-wrap:break-word;
}
