body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1944px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u7_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1279px;
  height:601px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u7 {
  position:absolute;
  left:2px;
  top:99px;
  width:1279px;
  height:601px;
}
#u8 {
  position:absolute;
  left:2px;
  top:292px;
  width:1275px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1279px;
  height:100px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u9 {
  position:absolute;
  left:2px;
  top:0px;
  width:1279px;
  height:100px;
}
#u10 {
  position:absolute;
  left:2px;
  top:42px;
  width:1275px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11_div {
  position:absolute;
  left:0px;
  top:0px;
  width:604px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:34px;
}
#u11 {
  position:absolute;
  left:192px;
  top:25px;
  width:604px;
  height:48px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:34px;
}
#u12 {
  position:absolute;
  left:0px;
  top:0px;
  width:604px;
  white-space:nowrap;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1281px;
  height:128px;
}
#u13 {
  position:absolute;
  left:0px;
  top:572px;
  width:1281px;
  height:128px;
}
#u14 {
  position:absolute;
  left:2px;
  top:56px;
  width:1277px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15_div {
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u15 {
  position:absolute;
  left:852px;
  top:38px;
  width:217px;
  height:23px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u16 {
  position:absolute;
  left:0px;
  top:0px;
  width:217px;
  white-space:nowrap;
}
#u17_div {
  position:absolute;
  left:0px;
  top:0px;
  width:880px;
  height:452px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u17 {
  position:absolute;
  left:192px;
  top:110px;
  width:880px;
  height:452px;
}
#u18 {
  position:absolute;
  left:2px;
  top:218px;
  width:876px;
  visibility:hidden;
  word-wrap:break-word;
}
#u19_div {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u19 {
  position:absolute;
  left:282px;
  top:190px;
  width:104px;
  height:25px;
  font-size:18px;
}
#u20 {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  word-wrap:break-word;
}
#u21_div {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u21 {
  position:absolute;
  left:282px;
  top:246px;
  width:104px;
  height:25px;
  font-size:18px;
}
#u22 {
  position:absolute;
  left:0px;
  top:0px;
  width:104px;
  word-wrap:break-word;
}
#u23_div {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u23 {
  position:absolute;
  left:287px;
  top:305px;
  width:96px;
  height:25px;
  font-size:18px;
}
#u24 {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  white-space:nowrap;
}
#u25_div {
  position:absolute;
  left:0px;
  top:0px;
  width:586px;
  height:125px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u25 {
  position:absolute;
  left:385px;
  top:305px;
  width:586px;
  height:125px;
}
#u26 {
  position:absolute;
  left:2px;
  top:54px;
  width:582px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27_div {
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u27 {
  position:absolute;
  left:572px;
  top:460px;
  width:140px;
  height:40px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u28 {
  position:absolute;
  left:2px;
  top:11px;
  width:136px;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:386px;
  top:190px;
  width:300px;
  height:25px;
}
#u29_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u30 {
  position:absolute;
  left:386px;
  top:246px;
  width:300px;
  height:25px;
}
#u30_input {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:25px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u31_div {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u31 {
  position:absolute;
  left:395px;
  top:314px;
  width:239px;
  height:25px;
  color:#999999;
}
#u32 {
  position:absolute;
  left:0px;
  top:0px;
  width:239px;
  white-space:nowrap;
}
#u33_div {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u33 {
  position:absolute;
  left:862px;
  top:400px;
  width:100px;
  height:25px;
  font-size:18px;
}
#u34 {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  white-space:nowrap;
}
#u35_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u35 {
  position:absolute;
  left:605px;
  top:130px;
  width:73px;
  height:23px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u36 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u37_div {
  position:absolute;
  left:0px;
  top:0px;
  width:651px;
  height:700px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u37 {
  position:absolute;
  left:1291px;
  top:0px;
  width:651px;
  height:700px;
}
#u38 {
  position:absolute;
  left:2px;
  top:342px;
  width:647px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39_div {
  position:absolute;
  left:0px;
  top:0px;
  width:645px;
  height:268px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u39 {
  position:absolute;
  left:1299px;
  top:110px;
  width:645px;
  height:268px;
}
#u40 {
  position:absolute;
  left:0px;
  top:0px;
  width:645px;
  white-space:nowrap;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:273px;
  height:124px;
}
#u41 {
  position:absolute;
  left:1299px;
  top:351px;
  width:273px;
  height:124px;
}
#u42 {
  position:absolute;
  left:2px;
  top:54px;
  width:269px;
  visibility:hidden;
  word-wrap:break-word;
}
