body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:342px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1486_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:595px;
  background:inherit;
  background-color:rgba(248, 248, 248, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1486 {
  position:absolute;
  left:22px;
  top:8px;
  width:320px;
  height:595px;
}
#u1487 {
  position:absolute;
  left:2px;
  top:290px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1488_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:27px;
}
#u1488 {
  position:absolute;
  left:305px;
  top:26px;
  width:27px;
  height:27px;
}
#u1489 {
  position:absolute;
  left:2px;
  top:6px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1490 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1491_img {
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:52px;
}
#u1491 {
  position:absolute;
  left:23px;
  top:17px;
  width:318px;
  height:52px;
}
#u1492 {
  position:absolute;
  left:2px;
  top:18px;
  width:314px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1493 {
  position:absolute;
  left:262px;
  top:35px;
  width:36px;
  height:27px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u1494_img {
  position:absolute;
  left:0px;
  top:0px;
  width:319px;
  height:2px;
}
#u1494 {
  position:absolute;
  left:23px;
  top:69px;
  width:318px;
  height:1px;
}
#u1495 {
  position:absolute;
  left:2px;
  top:-8px;
  width:314px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1496_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
#u1496 {
  position:absolute;
  left:32px;
  top:36px;
  width:26px;
  height:26px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u1497 {
  position:absolute;
  left:2px;
  top:5px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1498_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:14px;
  color:#000000;
}
#u1498 {
  position:absolute;
  left:168px;
  top:39px;
  width:29px;
  height:20px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:14px;
  color:#000000;
}
#u1499 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u1500_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:169px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:9px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1500 {
  position:absolute;
  left:32px;
  top:79px;
  width:300px;
  height:169px;
}
#u1501 {
  position:absolute;
  left:2px;
  top:76px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1502_div {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#FF0000;
}
#u1502 {
  position:absolute;
  left:165px;
  top:90px;
  width:34px;
  height:16px;
  font-size:11px;
  color:#FF0000;
}
#u1503 {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  white-space:nowrap;
}
#u1504_div {
  position:absolute;
  left:0px;
  top:0px;
  width:277px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  text-align:center;
}
#u1504 {
  position:absolute;
  left:44px;
  top:120px;
  width:277px;
  height:64px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  text-align:center;
}
#u1505 {
  position:absolute;
  left:0px;
  top:0px;
  width:277px;
  word-wrap:break-word;
}
#u1506 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1507_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:324px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:9px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1507 {
  position:absolute;
  left:32px;
  top:258px;
  width:300px;
  height:324px;
}
#u1508 {
  position:absolute;
  left:2px;
  top:154px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1509_div {
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:11px;
}
#u1509 {
  position:absolute;
  left:48px;
  top:272px;
  width:172px;
  height:16px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:11px;
}
#u1510 {
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  word-wrap:break-word;
}
#u1511_div {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
}
#u1511 {
  position:absolute;
  left:48px;
  top:298px;
  width:141px;
  height:16px;
  font-size:11px;
}
#u1512 {
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  white-space:nowrap;
}
#u1513_div {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
}
#u1513 {
  position:absolute;
  left:48px;
  top:324px;
  width:199px;
  height:16px;
  font-size:11px;
}
#u1514 {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  white-space:nowrap;
}
#u1515_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
}
#u1515 {
  position:absolute;
  left:48px;
  top:350px;
  width:73px;
  height:16px;
  font-size:11px;
}
#u1516 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u1517_div {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
}
#u1517 {
  position:absolute;
  left:48px;
  top:376px;
  width:122px;
  height:16px;
  font-size:11px;
}
#u1518 {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  white-space:nowrap;
}
#u1519_div {
  position:absolute;
  left:0px;
  top:0px;
  width:273px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
}
#u1519 {
  position:absolute;
  left:48px;
  top:402px;
  width:273px;
  height:16px;
  font-size:11px;
}
#u1520 {
  position:absolute;
  left:0px;
  top:0px;
  width:273px;
  white-space:nowrap;
}
#u1521_div {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
}
#u1521 {
  position:absolute;
  left:48px;
  top:428px;
  width:78px;
  height:16px;
  font-size:11px;
}
#u1522 {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  white-space:nowrap;
}
#u1523_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:56px;
}
#u1523 {
  position:absolute;
  left:48px;
  top:454px;
  width:45px;
  height:56px;
}
#u1524 {
  position:absolute;
  left:2px;
  top:20px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1525_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:56px;
}
#u1525 {
  position:absolute;
  left:97px;
  top:454px;
  width:45px;
  height:56px;
}
#u1526 {
  position:absolute;
  left:2px;
  top:20px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1527_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:56px;
}
#u1527 {
  position:absolute;
  left:146px;
  top:454px;
  width:45px;
  height:56px;
}
#u1528 {
  position:absolute;
  left:2px;
  top:20px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1529_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:56px;
}
#u1529 {
  position:absolute;
  left:195px;
  top:454px;
  width:45px;
  height:56px;
}
#u1530 {
  position:absolute;
  left:2px;
  top:20px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1531_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:56px;
}
#u1531 {
  position:absolute;
  left:245px;
  top:454px;
  width:45px;
  height:56px;
}
#u1532 {
  position:absolute;
  left:2px;
  top:20px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1533_div {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:25px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1533 {
  position:absolute;
  left:139px;
  top:205px;
  width:87px;
  height:25px;
}
#u1534 {
  position:absolute;
  left:2px;
  top:4px;
  width:83px;
  word-wrap:break-word;
}
