body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:489px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2071_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:595px;
  background:inherit;
  background-color:rgba(248, 248, 248, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2071 {
  position:absolute;
  left:22px;
  top:8px;
  width:320px;
  height:595px;
}
#u2072 {
  position:absolute;
  left:2px;
  top:290px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2073_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:27px;
}
#u2073 {
  position:absolute;
  left:305px;
  top:26px;
  width:27px;
  height:27px;
}
#u2074 {
  position:absolute;
  left:2px;
  top:6px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2075 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2076_img {
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:52px;
}
#u2076 {
  position:absolute;
  left:23px;
  top:17px;
  width:318px;
  height:52px;
}
#u2077 {
  position:absolute;
  left:2px;
  top:18px;
  width:314px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2078 {
  position:absolute;
  left:262px;
  top:35px;
  width:36px;
  height:27px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u2079_img {
  position:absolute;
  left:0px;
  top:0px;
  width:319px;
  height:2px;
}
#u2079 {
  position:absolute;
  left:23px;
  top:69px;
  width:318px;
  height:1px;
}
#u2080 {
  position:absolute;
  left:2px;
  top:-8px;
  width:314px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2081_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:14px;
  color:#000000;
}
#u2081 {
  position:absolute;
  left:168px;
  top:39px;
  width:29px;
  height:20px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:14px;
  color:#000000;
}
#u2082 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u2083_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:169px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:9px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2083 {
  position:absolute;
  left:32px;
  top:79px;
  width:300px;
  height:169px;
}
#u2084 {
  position:absolute;
  left:2px;
  top:76px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2085_div {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#FF0000;
}
#u2085 {
  position:absolute;
  left:165px;
  top:90px;
  width:34px;
  height:16px;
  font-size:11px;
  color:#FF0000;
}
#u2086 {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  white-space:nowrap;
}
#u2087_div {
  position:absolute;
  left:0px;
  top:0px;
  width:277px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  text-align:center;
}
#u2087 {
  position:absolute;
  left:44px;
  top:120px;
  width:277px;
  height:64px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  text-align:center;
}
#u2088 {
  position:absolute;
  left:0px;
  top:0px;
  width:277px;
  word-wrap:break-word;
}
#u2089 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2090_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:324px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:9px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2090 {
  position:absolute;
  left:32px;
  top:258px;
  width:300px;
  height:324px;
}
#u2091 {
  position:absolute;
  left:2px;
  top:154px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2092_div {
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:11px;
}
#u2092 {
  position:absolute;
  left:48px;
  top:272px;
  width:172px;
  height:16px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:11px;
}
#u2093 {
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  word-wrap:break-word;
}
#u2094_div {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
}
#u2094 {
  position:absolute;
  left:48px;
  top:298px;
  width:163px;
  height:16px;
  font-size:11px;
}
#u2095 {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  white-space:nowrap;
}
#u2096_div {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
}
#u2096 {
  position:absolute;
  left:48px;
  top:324px;
  width:199px;
  height:16px;
  font-size:11px;
}
#u2097 {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  white-space:nowrap;
}
#u2098_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
}
#u2098 {
  position:absolute;
  left:48px;
  top:350px;
  width:73px;
  height:16px;
  font-size:11px;
}
#u2099 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u2100_div {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
}
#u2100 {
  position:absolute;
  left:48px;
  top:376px;
  width:122px;
  height:16px;
  font-size:11px;
}
#u2101 {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  white-space:nowrap;
}
#u2102_div {
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
}
#u2102 {
  position:absolute;
  left:48px;
  top:402px;
  width:226px;
  height:16px;
  font-size:11px;
}
#u2103 {
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  white-space:nowrap;
}
#u2104_div {
  position:absolute;
  left:0px;
  top:0px;
  width:87px;
  height:25px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2104 {
  position:absolute;
  left:139px;
  top:205px;
  width:87px;
  height:25px;
}
#u2105 {
  position:absolute;
  left:2px;
  top:4px;
  width:83px;
  word-wrap:break-word;
}
#u2106_div {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:16px;
  background:inherit;
  background-color:rgba(105, 163, 253, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#FFFFFF;
}
#u2106 {
  position:absolute;
  left:298px;
  top:402px;
  width:23px;
  height:16px;
  font-size:11px;
  color:#FFFFFF;
}
#u2107 {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  white-space:nowrap;
}
#u2108_img {
  position:absolute;
  left:-2px;
  top:-10px;
  width:130px;
  height:25px;
}
#u2108 {
  position:absolute;
  left:262px;
  top:215px;
  width:118px;
  height:5px;
}
#u2109 {
  position:absolute;
  left:2px;
  top:-6px;
  width:114px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2110_div {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2110 {
  position:absolute;
  left:390px;
  top:208px;
  width:99px;
  height:20px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
}
#u2111 {
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  white-space:nowrap;
}
#u2112_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
#u2112 {
  position:absolute;
  left:32px;
  top:36px;
  width:26px;
  height:26px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u2113 {
  position:absolute;
  left:2px;
  top:5px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
