body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1238px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u834_div {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:595px;
  background:inherit;
  background-color:rgba(248, 248, 248, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(153, 153, 153, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u834 {
  position:absolute;
  left:22px;
  top:8px;
  width:320px;
  height:595px;
}
#u835 {
  position:absolute;
  left:2px;
  top:290px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u836_img {
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:27px;
}
#u836 {
  position:absolute;
  left:305px;
  top:26px;
  width:27px;
  height:27px;
}
#u837 {
  position:absolute;
  left:2px;
  top:6px;
  width:23px;
  visibility:hidden;
  word-wrap:break-word;
}
#u838 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u839_img {
  position:absolute;
  left:0px;
  top:0px;
  width:318px;
  height:52px;
}
#u839 {
  position:absolute;
  left:23px;
  top:17px;
  width:318px;
  height:52px;
}
#u840 {
  position:absolute;
  left:2px;
  top:18px;
  width:314px;
  visibility:hidden;
  word-wrap:break-word;
}
#u841 {
  position:absolute;
  left:262px;
  top:35px;
  width:36px;
  height:27px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u842_img {
  position:absolute;
  left:0px;
  top:0px;
  width:319px;
  height:2px;
}
#u842 {
  position:absolute;
  left:23px;
  top:69px;
  width:318px;
  height:1px;
}
#u843 {
  position:absolute;
  left:2px;
  top:-8px;
  width:314px;
  visibility:hidden;
  word-wrap:break-word;
}
#u844_img {
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:26px;
}
#u844 {
  position:absolute;
  left:32px;
  top:36px;
  width:26px;
  height:26px;
  -webkit-transform:rotate(180deg);
  -moz-transform:rotate(180deg);
  -ms-transform:rotate(180deg);
  transform:rotate(180deg);
}
#u845 {
  position:absolute;
  left:2px;
  top:5px;
  width:22px;
  visibility:hidden;
  word-wrap:break-word;
}
#u846_div {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:14px;
  color:#000000;
}
#u846 {
  position:absolute;
  left:168px;
  top:39px;
  width:29px;
  height:20px;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
  font-size:14px;
  color:#000000;
}
#u847 {
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u848_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:51px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:9px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u848 {
  position:absolute;
  left:32px;
  top:79px;
  width:300px;
  height:51px;
}
#u849 {
  position:absolute;
  left:2px;
  top:18px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u850_div {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#FF0000;
}
#u850 {
  position:absolute;
  left:160px;
  top:94px;
  width:34px;
  height:16px;
  font-size:11px;
  color:#FF0000;
}
#u851 {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  white-space:nowrap;
}
#u852_div {
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:33px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u852 {
  position:absolute;
  left:1123px;
  top:122px;
  width:115px;
  height:33px;
}
#u853 {
  position:absolute;
  left:2px;
  top:8px;
  width:111px;
  word-wrap:break-word;
}
#u854 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u855_div {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:324px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:9px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u855 {
  position:absolute;
  left:32px;
  top:140px;
  width:300px;
  height:324px;
}
#u856 {
  position:absolute;
  left:2px;
  top:154px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u857_div {
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:11px;
}
#u857 {
  position:absolute;
  left:48px;
  top:154px;
  width:172px;
  height:16px;
  font-family:'PingFangSC-Regular', 'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:11px;
}
#u858 {
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  word-wrap:break-word;
}
#u859_div {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
}
#u859 {
  position:absolute;
  left:48px;
  top:180px;
  width:163px;
  height:16px;
  font-size:11px;
}
#u860 {
  position:absolute;
  left:0px;
  top:0px;
  width:163px;
  white-space:nowrap;
}
#u861_div {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
}
#u861 {
  position:absolute;
  left:48px;
  top:206px;
  width:199px;
  height:16px;
  font-size:11px;
}
#u862 {
  position:absolute;
  left:0px;
  top:0px;
  width:199px;
  white-space:nowrap;
}
#u863_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
}
#u863 {
  position:absolute;
  left:48px;
  top:232px;
  width:73px;
  height:16px;
  font-size:11px;
}
#u864 {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u865_div {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
}
#u865 {
  position:absolute;
  left:48px;
  top:258px;
  width:122px;
  height:16px;
  font-size:11px;
}
#u866 {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  white-space:nowrap;
}
#u867_div {
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
}
#u867 {
  position:absolute;
  left:48px;
  top:284px;
  width:208px;
  height:16px;
  font-size:11px;
}
#u868 {
  position:absolute;
  left:0px;
  top:0px;
  width:208px;
  white-space:nowrap;
}
#u869_div {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
}
#u869 {
  position:absolute;
  left:48px;
  top:310px;
  width:78px;
  height:16px;
  font-size:11px;
}
#u870 {
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  white-space:nowrap;
}
#u871_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:56px;
}
#u871 {
  position:absolute;
  left:48px;
  top:336px;
  width:45px;
  height:56px;
}
#u872 {
  position:absolute;
  left:2px;
  top:20px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u873_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:56px;
}
#u873 {
  position:absolute;
  left:97px;
  top:336px;
  width:45px;
  height:56px;
}
#u874 {
  position:absolute;
  left:2px;
  top:20px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u875_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:56px;
}
#u875 {
  position:absolute;
  left:146px;
  top:336px;
  width:45px;
  height:56px;
}
#u876 {
  position:absolute;
  left:2px;
  top:20px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u877_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:56px;
}
#u877 {
  position:absolute;
  left:195px;
  top:336px;
  width:45px;
  height:56px;
}
#u878 {
  position:absolute;
  left:2px;
  top:20px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u879_img {
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:56px;
}
#u879 {
  position:absolute;
  left:245px;
  top:336px;
  width:45px;
  height:56px;
}
#u880 {
  position:absolute;
  left:2px;
  top:20px;
  width:41px;
  visibility:hidden;
  word-wrap:break-word;
}
#u881_div {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  height:16px;
  background:inherit;
  background-color:rgba(105, 163, 253, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#FFFFFF;
}
#u881 {
  position:absolute;
  left:297px;
  top:284px;
  width:23px;
  height:16px;
  font-size:11px;
  color:#FFFFFF;
}
#u882 {
  position:absolute;
  left:0px;
  top:0px;
  width:23px;
  white-space:nowrap;
}
