body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1200px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u15_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1200px;
  height:653px;
}
#u15 {
  position:absolute;
  left:0px;
  top:-10px;
  width:1200px;
  height:653px;
}
#u16 {
  position:absolute;
  left:2px;
  top:318px;
  width:1196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u17_img {
  position:absolute;
  left:0px;
  top:0px;
  width:249px;
  height:170px;
}
#u17 {
  position:absolute;
  left:225px;
  top:130px;
  width:249px;
  height:170px;
  font-size:18px;
}
#u18 {
  position:absolute;
  left:2px;
  top:60px;
  width:245px;
  word-wrap:break-word;
}
#u19 {
  position:absolute;
  left:820px;
  top:320px;
  width:160px;
  height:90px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
